
.about-us{
  height: 100%;
  
  h3{
    padding: $padding; 
  }
  p{
    padding: 0px 15px 0px 15px;
  }
  .elo{
    padding: 0;
  }
  img{
    @include image-responsive;
  }
  .about-us-text{
    background-color:color(bg-lightsand);
    margin: 50px 0px 0px 0px;
    padding: $padding;
  }
}


