
.about-us{
  height: 100%;
  
  h3{
    padding: $padding; 
  }
  p{
    padding: 0px 15px 0px 15px;
  }
}

.about-us-image{
  position: relative;
  z-index:1;
  width: 465px;
  height: 460px;
}

.about-us-text{
  background-color:color(bg-lightsand);
  height: 360px;
  margin-top: 50px;
}