
  .title{
    margin-bottom: 50px;
  }
  .navbar{
    display:flex;
    justify-content: space-between;
    z-index: 99;
    background-color: color(bg-header-blue);
    
    .navbar-brand{
      margin-left: 10%;
    }
    .navbar-toggler{
      border: 1px solid rgba(255, 255, 255, 0.486);
      color: white;
      font-size: 15px;
      width: 50px;
      height: 35px;
      margin-left: 300px;

      &:hover{
        transform: scale(1.05);
        border:2px solid color(hover-color);
        color: color(hover-color);
        transition: all 0.25s ease-in;
      }

    }

    .navbar-collapse{
      background-color:transparent;   
    }
    .navbar-nav{
      background-color: transparent;
   
      a{
        @include navigation-style;
        margin-right: 15px;
        }
      }

    .navbar-toggler-icon{
      @include center-flex;
    }
  }
.main-header{
  position: relative;
  height: 711px;
  background-color: color(bg-header-blue);
    .header-content-container{
      height: 550px;
      color:white;
      text-transform: uppercase;

      h2{
        font-size: 36px;
        color: #fff
      }
      h1{
        font-size: 60px;
      }
      p{
        font-size: 18px;
        text-transform: none;
        color: #fff;
      }
      
    .header-image{
      @include image-responsive;
      position: absolute;
      top:88px;
      right: 0;
      z-index:0;
    }

      .header-text{
        position:relative;
        display:flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 60%;
        padding: 20px;
        z-index:1;
      
  
        button{
          @include article-button;
        }
      }
    }
}
.menu-bg{
  background-color:rgba(0, 0, 0, 0.705);
  transition: all 0.25s ease-in;
}