@import 'colors';

@mixin navigation-style{
  text-decoration: none;
  color:white;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  &:hover{
    color: color(hover-color);
  }
}
@mixin article-button{
  width: 168px;
  height: 40px;
  background-color: color(main-purple);
  border:none;
  color:white;
  font-size: 20px;

  &:hover{
    background-color: color(light-purple);
    transition: all 0.25s ease-in;
  }
}

@mixin article-button-orange{
  width: 168px;
  height: 40px;
  background-color: color(button-color-orange);
  border:none;
  color:white;
  font-size: 20px;

  &:hover{
    background-color: color(light-purple);
    transition: all 0.25s ease-in;
  }
}

@mixin article-button-blue{
  width: 168px;
  height: 40px;
  background-color: color(button-color-blue);
  border:none;
  color:white;
  font-size: 20px;

  &:hover{
    background-color: color(light-purple);
    transition: all 0.25s ease-in;
  }
}

@mixin image-responsive{
  max-width: 100%;
  height: auto;
}

@mixin article-titles {
  font-size: 30px;
  color: color(article-color-light);
}
@mixin article-text {
  font-size: 18px;
  color: color(article-color-light);
}
@mixin article-text-small {
  font-size: 14px;
  color: color(article-color-dark);
}
@mixin cards-text {
  font-size: 24px;
  font-weight: bold;
}
@mixin center-flex {
  display:flex;
  justify-content: center;
  align-items: center;
}
// FONT SET-UP