.testimonials{
height: 750px;
  p{
    @include article-text;
  }
  .title::after{
    @include title-underline;
  }

  .item{
    width: 370px;
    height: 600px;
    margin-top: 100px;
  }


  .testimonial-container{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    padding: 50px 15px 50px 15px;

    ::before{
      content: url('../img/quote.png');
      display:block;
      position: absolute;
      top:20px;
      left: 0;
    }

    ::after{
      content: url(../img/testimonial-face.png);
      position: absolute;
      left: 38%;
      top:55%
    }
    &::hover{
      background-color: black;
    }
  }
  .testimonial-user{
    margin-top: 35px;
  }
}

