body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 30px;
  color: #828282;
}

h3 {
  font-size: 18px;
  color: #828282;
}

p {
  font-size: 14px;
  color: #555555;
}

.title {
  margin-bottom: 50px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 99;
  background-color: #00AFBF;
}

.navbar .navbar-brand {
  margin-left: 10%;
}

.navbar .navbar-toggler {
  border: 1px solid rgba(255, 255, 255, 0.486);
  color: white;
  font-size: 15px;
  width: 50px;
  height: 35px;
  margin-left: 300px;
}

.navbar .navbar-toggler:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border: 2px solid rgba(0, 0, 0, 0.466);
  color: rgba(0, 0, 0, 0.466);
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.navbar .navbar-collapse {
  background-color: transparent;
}

.navbar .navbar-nav {
  background-color: transparent;
}

.navbar .navbar-nav a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 15px;
}

.navbar .navbar-nav a:hover {
  color: rgba(0, 0, 0, 0.466);
}

.navbar .navbar-toggler-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header {
  position: relative;
  height: 711px;
  background-color: #00AFBF;
}

.main-header .header-content-container {
  height: 550px;
  color: white;
  text-transform: uppercase;
}

.main-header .header-content-container h2 {
  font-size: 36px;
  color: #fff;
}

.main-header .header-content-container h1 {
  font-size: 60px;
}

.main-header .header-content-container p {
  font-size: 18px;
  text-transform: none;
  color: #fff;
}

.main-header .header-content-container .header-image {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 88px;
  right: 0;
  z-index: 0;
}

.main-header .header-content-container .header-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 60%;
  padding: 20px;
  z-index: 1;
}

.main-header .header-content-container .header-text button {
  width: 168px;
  height: 40px;
  background-color: #9068BE;
  border: none;
  color: white;
  font-size: 20px;
}

.main-header .header-content-container .header-text button:hover {
  background-color: #9873c3;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.menu-bg {
  background-color: rgba(0, 0, 0, 0.705);
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.about-us {
  height: 100%;
  margin-top: 75px;
  margin-bottom: 75px;
}

.about-us h3 {
  padding: 15px;
}

.about-us img {
  max-width: 100%;
  height: auto;
}

.about-us .about-us-text {
  background-color: #F6F6F6;
  margin: 50px 0px 0px 0px;
  padding: 15px;
}

.about-us .title::after {
  content: '';
  display: block;
  width: 54px;
  background-color: #02C6D8;
  height: 2px;
  position: absolute;
  left: 50%;
  margin-left: -27px;
  margin: 10px 0px 10px -27px;
}

.cta {
  height: 100%;
}

.cta h2, .cta p {
  padding: 0;
  margin: 0;
  padding: 0;
}

.cta .jumbotron {
  padding: 15px;
  margin: 0;
}

.cta h2 {
  color: #fff;
  font-size: 26px;
}

.cta p {
  color: #fff;
  font-size: 16px;
}

.cta .cta-background {
  background-color: #9068BE;
}

.cta .cta-background .cta-input {
  padding: 5px;
  margin: 10px;
}

.cta .cta-background .cta-button {
  width: 168px;
  height: 40px;
  background-color: #9068BE;
  border: none;
  color: white;
  font-size: 20px;
  color: white;
  background-color: #E46E48;
}

.cta .cta-background .cta-button:hover {
  background-color: #9873c3;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.what-we-do {
  height: 100%;
  margin-bottom: 75px;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.what-we-do h2 {
  margin-top: 75px;
}

.what-we-do .title::after {
  content: '';
  display: block;
  width: 54px;
  background-color: #02C6D8;
  height: 2px;
  position: absolute;
  left: 50%;
  margin-left: -27px;
  margin: 10px 0px 10px -27px;
}

.what-we-do .under-title-text {
  font-size: 18px;
  color: #828282;
}

.what-we-do .info-card-one::before {
  content: url(../img/ilustration1.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 148px;
  height: 148px;
  padding: 2px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  top: -75px;
  margin-left: -74px;
  left: 50%;
  background-color: #9068BE;
}

.what-we-do .info-card-two::before {
  content: url(../img/ilustration2.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 148px;
  height: 148px;
  padding: 2px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  top: -75px;
  margin-left: -74px;
  left: 50%;
  background-color: #02C6D8;
}

.what-we-do .info-cards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.what-we-do h3,
.what-we-do h4 {
  margin-top: 55px;
  padding: 15px;
}

.what-we-do h3 {
  font-size: 24px;
  font-weight: bold;
  color: #9068BE;
}

.what-we-do h4 {
  font-size: 24px;
  font-weight: bold;
  color: #02C6D8;
}

.what-we-do p {
  font-size: 14px;
  color: #555555;
  padding: 15px;
  color: #555555;
}

.what-we-do .info-card {
  position: relative;
  margin-top: 125px;
  text-align: center;
  padding: 15px;
  -webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.5);
}

.what-we-do .circle-purple {
  background-color: #9068BE;
}

.what-we-do .circle-blue {
  background-color: #02C6D8;
}

.what-we-do .what-we-do-button-1 {
  width: 168px;
  height: 40px;
  background-color: #E46E48;
  border: none;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 100;
  margin-left: -84px;
  left: 50%;
}

.what-we-do .what-we-do-button-1:hover {
  background-color: #9873c3;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.what-we-do .what-we-do-button-2 {
  width: 168px;
  height: 40px;
  background-color: #326C73;
  border: none;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 100;
  margin-left: -84px;
  left: 50%;
}

.what-we-do .what-we-do-button-2:hover {
  background-color: #9873c3;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.testimonials {
  height: 750px;
}

.testimonials p {
  font-size: 18px;
  color: #828282;
}

.testimonials .title::after {
  content: '';
  display: block;
  width: 54px;
  background-color: #02C6D8;
  height: 2px;
  position: absolute;
  left: 50%;
  margin-left: -27px;
  margin: 10px 0px 10px -27px;
}

.testimonials .item {
  width: 370px;
  height: 600px;
  margin-top: 100px;
}

.testimonials .testimonial-container {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 50px 15px 50px 15px;
}

.testimonials .testimonial-container ::before {
  content: url("../img/quote.png");
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
}

.testimonials .testimonial-container ::after {
  content: url(../img/testimonial-face.png);
  position: absolute;
  left: 38%;
  top: 55%;
}

.testimonials .testimonial-container::hover {
  background-color: black;
}

.testimonials .testimonial-user {
  margin-top: 35px;
}

.contact::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.719);
}

.contact {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 450px;
  height: 100%;
  background-image: url("../img/contact-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.contact-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.contact-text p {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.contact-text .contact-button {
  width: 168px;
  height: 40px;
  background-color: #9068BE;
  border: none;
  color: white;
  font-size: 20px;
  background-color: #E46E48;
}

.contact-text .contact-button:hover {
  background-color: #9873c3;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

footer {
  min-height: 285;
  height: 100%;
  background-color: #011E22;
}

footer .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .navbar-nav a {
  font-size: 12px;
  text-align: center;
  width: 75px;
  height: 15px;
  line-height: 2px;
  color: white;
  margin-right: 5px;
  border-right: 1px solid white;
}
/*# sourceMappingURL=main.css.map */