
@import 'colors','mixins';

body{
  margin: 0; padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}
h2{
  @include article-titles;
}
h3{
  @include article-text;
}
p{
  @include article-text-small;
}
// NAVIGATION & HEADER
@import 'main-header';
@import 'about';
@import 'call-to-action';
@import 'what-we-do';